APP_NAME=Skooleo
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=skooleo
DB_USERNAME=root
DB_PASSWORD=
DB_ENGINE=innodb

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=xxx
MAIL_PASSWORD=xxx
MAIL_ENCRYPTION=tls

FLUTTERWAVE_PUBLIC_KEY=FLWPUBK_TEST-xxx-X
FLUTTERWAVE_SECRET_KEY=FLWSECK_TEST-xxx-X
FLUTTERWAVE_VERIF_HASH=xxxx

CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx
CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_UPLOAD_FOLDER=skooleo-dev

SUPPORT_EMAIL=hello@skooleo.com

REDIRECT_HTTPS=false
