/**
CUSTOM CSS
*/

.login-btn,
.signup-btn {
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}
.login-btn {
    background-color: #ff5c97;
}
.signup-btn {
    background-color: #402c83;
}
.space-10 {
    height: 10px;
}
.space-20 {
    height: 20px;
}
.space-30 {
    height: 30px;
}
.space-60 {
    height: 60px;
}
.space-90 {
    height: 90px;
}
.space-120 {
    height: 120px;
}
.horizontal-line {
    background-color: #ff5c97;
    height: 5px;
    margin-left: 40%;
    margin-right: 40%;
}
.fa-check-square {
    color: #ff5c97;
    padding-right: 10px;
    font-weight: 600;
}
.fa-check-circle {
    color: #402c83;
    padding-right: 10px;
    font-weight: 600;
}
.text {
    color: #fff;
}
.parents {
    background-color: #402c83;
    min-height: 420px;
}
.schools {
    background-color: #ff5c97;
    min-height: 420px;
}
.generating-cap-table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

/* LOGIN & REGISTER */
.login,
.register {
    background: #f8d8e4;
    padding: 90px 70px;
    border-radius: 5px;
    margin-left: 20px;
}

label {
    color: #402c83;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.register-body {
    background: #f8d8e4;
    padding: 75px 45px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 20%;
    -webkit-box-shadow: 10px 10px 30px 5px rgba(191, 189, 191, 1);
    -moz-box-shadow: 10px 10px 30px 5px rgba(191, 189, 191, 1);
    box-shadow: 10px 10px 30px 5px rgba(191, 189, 191, 1);
}

.login-body {
    padding: 55px 45px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: 10px 10px 30px 5px rgba(191, 189, 191, 1);
    -moz-box-shadow: 10px 10px 30px 5px rgba(191, 189, 191, 1);
    box-shadow: 10px 10px 30px 5px rgba(191, 189, 191, 1);
    margin: 0;
    position: absolute;
    top: 50%;
    width: 80%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
    .login,
    .register {
        padding: 50px 25px;
    }
}
